<div class="filter">  
  <%= form_tag drinks_path, method: :get do %>
    <%= text_field_tag :q, nil, placeholder: "Search drinks, places or alcohols" %>
  <% end %>
  <% if @drinks.suggestions.any? %>
    <p>Did you mean: <%= @drinks.suggestions.first %>?</p>
  <% end %>
</div>


<div id="list">
  <% @drinks.each do |drink| %>
    <div class="listing clearfix">
      <div class="image_wrapper">
        <%= image_tag(drink.recipe.image) %>
      </div>
      <div class="info">
        <div class="drink_info"><%= drink.size %> <%= link_to drink.recipe.name, recipe_path(drink.recipe), class: "drink_name" %> with <%= link_to drink.alcohol.name, alcohol_path(drink.alcohol), class: "alcohol_name" %> at <%= link_to drink.place.name, place_path(drink.place), class: "place_name" %></div>
      </div>
      <span class="price"><%= number_to_currency(drink.price) %></span>
    </div>
  <% end %>
</div>
