<%= form_for @recipe do |f| %>
<!--   <% if @recipe.errors.any? %>
    <h2><%= pluralize(@recipe.errors.count, "error") %>:</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %> -->

  <%= f.label :name %><br>
  <%= f.text_field :name %>

  <br>

  <%= f.label :image %><br>
  <%= f.select :image, options_for_select({Beer: "beer.png", Whiskey: "whiskey.png", Cuba_Libre: "cuba_libre.png", Margarita: "margarita.png", Mojito: "mojito.png", Red_Wine: "red_wine.png", Martini: "martini.png"}) %>

  <br>

  <%= f.submit (@recipe.new_record? ? "Create Recipe" : "Update Recipe") %>
<% end %>
