<%= form_for @place do |f| %>
<!--   <% if @place.errors.any? %>
    <h2><%= pluralize(@place.errors.count, "error") %>:</h2>
    <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %> -->

  <%= f.label :name %><br>
  <%= f.text_field :name %>

  <br>

  <%= f.submit (@place.new_record? ? "Create Place" : "Update Place") %>
<% end %>
